DB_URL = mongodb://[username:password]...blah..blah...blah  # TODO: Set this to a database url such as MongoDB Atlas
PORT = 3000                                                 # [Optional] This defaults the application to running on 'http://localhost:3000/'